<div class="Mtl-copyright-wrapper">
    개발자 연락처: pcysynabro.ads@gmail.com
    <br />
    <a
        href='https://play.google.com/store/apps/details?id=com.pcy.multrans&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
        <img alt='Get it on Google Play'
            src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'
            width='200px' />
    </a>
</div>