<nav class="navbar smart-scroll navbar-expand-lg">
    <a class="navbar-brand" href="/">
        <img src="/images/NavLogoMultranslator.jpg" width="75" height="40" />
    </a>
    <button class="pcy-nav-toggle-btn navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav"
        aria-expanded="false" aria-label="Toggle navigation">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-list" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
        </svg>
    </button>
    <div class="collapse navbar-collapse" id="main_nav">
        <ul class="navbar-nav">
            <li class="nav-item active"> <a class="nav-link" href="/">홈 </a> </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false"> More
                    Services
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="http://profitcalc.multranslator.com">셀러툴</a></li>
                </ul>
            </li>
        </ul>
    </div> <!-- navbar-collapse.// -->
</nav>