<div>
    <div class="Mtl-List-Wrapper">
        <h3 style="padding-left: 15px">업데이트 노트</h3>
        <div class="Mtl-Memo">
            <p>더욱 효과적인 사용성을 제공하기 위해 이용자분들의 수정사항을 꾸준히 반영하고 있습니다.</p>
            <p>오류 개선 및 수정사항은 pcysynabro.ads@gmail.com 으로 메일 보내주시면 빠른 시일 내에 반영토록 하겠습니다. </p>
            <p>감사합니다.</p>
        </div>
        <ul class="Mtl-List-Group">
            <li class="Mtl-List-Item">
                <div class="Mtl-List-HeadPart">2020.08.07</div>
                <div class="Mtl-List-BodyPart">
                    <ul>
                        <li>업데이트 노트를 추가하였습니다.</li>
                        <li>버튼 기능들의 위치를 수정하였습니다. </li>
                        <li>일부 레이아웃 및 디자인을 수정하였습니다.</li>
                    </ul>
                </div>
            </li>
            <li class="Mtl-List-Item">
                <div class="Mtl-List-HeadPart">2020.07.24</div>
                <div class="Mtl-List-BodyPart">내용 전체 복사 기능을 추가 하였습니다.</div>
            </li>
        </ul>
    </div>
</div>