<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/NavLogoMultranslator.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="멀트랜스레이터 Multranslator" />
    <link rel="apple-touch-icon" href="/images/NavLogoMultranslator.jpg" />
    <!--
        manifest.json provides metadata used when your web app is installed on a
        user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
        -->
    <link rel="manifest" href="/manifest/manifest_e1.json" />
    <!--
        Notice the use of %PUBLIC_URL% in the tags above.
        It will be replaced with the URL of the `public` folder during the build.
        Only files inside the `public` folder can be referenced from the HTML.

        Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
        work correctly both with client-side routing and a non-root public URL.
        Learn how to configure a non-root public URL by running `npm run build`.
        -->
    <title>Multranslator 멀트랜스레이터</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <script src="/js/jquery/jquery.min.js"></script>
    <style type="text/css">
        @import url("/css/style.css");
        @import url("/css/sliderStyle.css");
        @import url("/css/snackbar.css");
        @import url("/css/rangeStyle.css");
        @import url("/css/copyrightStyle.css");
        @import url("/css/updateNote.css");
    </style>
    <!-- google adsense -->
    <script data-ad-client="ca-pub-2340864651976007" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161166259-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-161166259-1');
    </script>
    <!-- naver search tool meta tag -->
    <meta name="naver-site-verification" content="56f1add4708c5b828c48d1075f9539196d434791" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="멀트랜스레이터 Multranslator" />
    <meta property="og:description"
        content="멀트랜스레이터 - Multranslator는 기업이 제공하는 번역기들을 한곳에 모아 한번에 번역하고 한눈에 비교할 수 있게 해줍니다. 구글, 파파고, 아마존 등과 같은 번역기 서비스를 한곳에서 제공합니다." />
    <meta property="og:image" content="%PUBLIC_URL%/NavLogoMultranslator.jpg">
    <meta property="og:url" content="http://multranslator.com" />
</head>

<body>
    {{{body}}}
    <script src="/js/popper/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/mtl/range.js"></script>
    <script src="/js/mtl/api/translateToServerAPI.js"></script>
</body>

</html>